<br/><h1>Potin n°<%= @potin.id %> : <%= @potin.title %></h1>
  <p><br/>
    <%= "=" * 20 %><br/>
    <%= @potin.description %><br/>
    <%= "=" * 20 %><br/><br/>

    L'auteur : <%= link_to "#{@potin.user.first_name} #{@potin.user.last_name}", user_path(@potin.user.id) %><br>


  </p>
